.bodyPaddLeftRight{
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}

.marginTopMinus40{
    margin-top: -40px!important;
}

.custom-thead {
    background-color: #D6E1FF !important; /* Blue background */
    color: #1d3680 !important;           /* White text */
    font-weight: bold;
    text-align: left;
}

.custom-thead th {
    padding: 10px;
    border-bottom: 2px solid #0056b3;
}